.normal {
    font-family: Georgia, sans-serif;
    text-align: center;
    background-color: #e9e9e9;
}

.title {
    font-size: 2.5rem;
    font-weight: normal;
    letter-spacing: -1px;
    background: darkslateblue;
    padding: .6em 0;
    color: white;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 60px;
    padding: 0;
    background-color: #ffffff;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
}

.item {
    height: 60px;
}
.user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}
.username {
    width: 120px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 15px;
    font-family: 'SimHei';
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    right: 50px;
}
.changebtn {
    width: 100px;
    position: relative;
    right: 30px;
}

.content {
    width: 100%;
    min-height: 800px;
    padding: 0 8vw 0 8vw;
    margin: 2vh 0 2vh 0;
    background-color: #efefef;
}

.footer {
    width: 100%;
    height: 7vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: black solid 1px;
}